.my-rsvp-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.back {
  align-items: flex-start;
  padding: 10px;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  border: 1px, red, solid;
  display: flex;
  flex-direction: column;
  text-align: left;
}
