.home-page-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr ;
  height: 100%;
}

.left-nav-container {
  height: 100%;
  padding: 5ex;
  border-right: solid rgb(219, 220, 224) 1px;
}

.main-container {
  height: 100%;
}

.switch-month{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.mini-board-month{
 
}

.mini-board-arrow{
  display:flex;
  flex-direction: row;
  gap:5px;
}

