.home-page-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr ;
  height: 100%;
}
.my-rsvps-button {
  display: flex;
  flex-direction: row;
  padding: 4px;
  justify-content: flex-start;
  gap: 30px;
}
.my-rsvps-button:hover {
  background-color: rgb(239, 240, 243);
}

.my-rsvps-button:active {
  background-color: rgb(219, 219, 221);
}

.left-nav-container {
  height: 100%;
  padding: 5ex;
  border-right: solid rgb(219, 220, 224) 1px;
}

.main-container {
  height: 100%;
}

.switch-month{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.mini-board-month{
 
}

.mini-board-arrow{
  display:flex;
  flex-direction: row;
  gap:5px;
}

