.home-page-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  height: 100%;
}
.home-page-container-no-show{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100%;
}
.my-rsvps-button {
    display: flex;
    flex-direction: row;
    padding: 4px;
    justify-content: flex-start;
    gap: 30px;
    border-radius: 5px;
    transform: 0.3s;
    align-items: center;
    font-weight: 900;
    cursor: pointer;
    text-decoration: none;
    color: black;
  /* display: flex;
  flex-direction: row;
  padding: 4px;
  justify-content: flex-start;
  gap: 30px;
  border-radius: 5px;
  transform: 0.3s;
  align-items: center; */
}
.my-rsvps-button:hover {
  background-color: rgb(239, 240, 243);
  cursor: pointer;
}

.my-rsvps-button:active {
  background-color: rgb(219, 219, 221);
}

.left-nav-container {
  height: 100%;
  padding: 5ex;
  border-right: solid rgb(219, 220, 224) 1px;
  display: flex;
  flex-direction: column;
  gap: 5ex;
}
.left-nav-container-no-show {
  display:none;
}

.main-container {
  height: 100%;
}

.switch-month {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.mini-board-arrow {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.arrow {
  border-radius: 50%;
  padding: 4px 4px;
  transition: 0.3s;
  width: 20px;
  height: 20px;
}
.arrow:hover {
  background-color: rgb(219, 220, 224, 0.5);
  cursor: pointer;
}

.mini-board-month{
  font-weight: 900;
  font-size: smaller;
}