.single-rsvp-container{
    padding:10px;
    width:70%;
    height:fit-content;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 246, 246);
}


.single-rsvp-info{
  display: flex;
  flex-direction: row;
  gap:20px;
  align-items: center;
}

.short-column{
    text-align: right;
}

.col-name{
    padding-right: 4px;
}

.column-pointer{
    cursor: pointer;
}

.column-pointer:hover{
    font-weight: 900;
}