.create-event-container {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.create-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 15px;
}
.create-column {
  font-weight: 900;
  text-align: right;
  padding-right: 10px;
}
.theme {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  outline: none;
  padding: 4px;
  border-bottom: 1px solid rgb(218 220 224);
}

.theme:hover {
  border-bottom: 2px solid rgb(56 113 224);
}

.create-event-form {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.create-table {
  padding: 10px;
}
tr.create-tr > td {
  padding-bottom: 0.5em;
}
tr.create-tr > td > input,
textarea {
  outline: none;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 1px solid rgb(218 220 224);
  padding: 5px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 0 10px 0;
}

.error{
  color:red;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
}
.create{
	border-radius: 5px;
  color: white;
	border: none;
	display: inline-block;
	text-decoration: none;
	padding: 10px;
	transition: all 0.4s ease 0s;
	background:  rgb(0, 123, 255);
	text-transform: uppercase;
  width:40%;
  margin-left: 30%;
}

.create:hover {
	box-shadow: 3px 20px -8px rgba(0, 0, 0, 0.342);
	letter-spacing: 1px;
	background: #00000044;
}