.nav-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:10px;
  margin-bottom: 0;
  border-bottom: solid rgb(219,220,224) 1px;
}


.today{
  border: solid rgb(219,220,224) 1px;
  border-radius: 5px;
  padding:5px 15px;
}

.today:hover{
  background-color: beige;
}