.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  border-bottom: solid rgb(219, 220, 224) 1px;
}
.h-container{
  display:flex;
  align-self: baseline;
  margin-bottom: 0;
}
.Kalendar{
  text-decoration: none;
}
.date-nav-container{
  display:flex;
  flex-direction: row;
  align-items: center;
}

.hamber-icon{
  border-radius: 50%;
  padding: 8px 8px;
  background-color: rgb(219, 220, 224, 0.5);
}
.today {
  border: solid rgb(219, 220, 224) 1px;
  border-radius: 5px;
  padding: 5px 15px;
  display:flex;
  flex-direction: row;
}

.today:hover {
  background-color: rgb(219, 220, 224, 0.7);
}

.month-year-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.arrow {
  border-radius: 50%;
  padding: 4px 4px;
}
.arrow:hover {
  background-color: rgb(219, 220, 224, 0.5);
}
